@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
}

b {
  color: #ff4f4f;
}

html, body {
  margin: 0px;
}

header h2 {
  color: #ff4f4f;
}

h1, h2 {
  color: #000000ee
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

header, main, footer {
  text-align: center;
}

header, .form, main {
  margin: 0 auto 30px auto;
  width:  90%;
  max-width: 500px;
}

header button {
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #ff4f4f;
  color: white;
  font-weight: bold;
}

header h1, main h2 {
  margin-bottom: 30px;
}


main h2 span {
  color: #ff4f4f;
}

.logo {
  width: 120px;
  margin: 30px 0px;
}

header p {
  font-size: 14px;
}

section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  align-items: center;
  background-color: #ff4f4f;
  padding: 16px 64px;
  border-radius: 6px;
}

.form h2 {
  text-align: right;
  color: #FFFFFF;
  font-size: 20px;
}

form input, form button, form select {
  width: 100%;
  margin-bottom: 4px;
  padding: 8px 16px;
  border: 1px #FFFFFF88 solid;
  border-radius: 4px;

}

form input, form select {    
  background-color: transparent;
}

form select {
  background-color: #ff4f4f;
}

form input::placeholder, form select {
  color: #FFFFFFaa
}

form button {
  font-weight: bold;
}

main .donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
  color: #ff4f4f;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blood::before {
  content: "";
  background-color: #ff4f4f33;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);

}

.donor p {
  margin-top: 24px;
  margin-bottom: 64px;
  font-size: 14px;
}

footer {
  margin-top: auto;
  padding: 16px;
  border: 1px solid #eee;
}

footer a {
  text-decoration: none;
}

section.form {
  transition: all 300ms;
}

section.form.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -70px;
}